:root {
    --accent-color: #2196F3;
    --main-text-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --main-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --team-card-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --filter-buttom-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    --primary-translate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
    color: var(--main-text-color);
    font-family: var(--main-font-family);

}

h1,
h2,
h3,
h4 {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/* =====COMPONENT START===== */
.logo {
    color: var(--accent-color);
    font-family: var(--logo-font-family);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.logo-black {
    color: #000;
}

.logo-white {
    color: var(--primary-white-color);

}

.secondary-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.third-title {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.container {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

/* =====COMPONENT END===== */

/* =====HEADER START===== */
.header {
    padding: 0;
    border-bottom: 1px solid #ECECEC;
}

.nav-container {
    display: flex;
    align-items: center;
}

.navigatoin {
    display: flex;
    align-items: center;
}

.section-list {
    margin-left: 94px;
    display: flex;
}

.nav-list-item {
    position: relative;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list-link {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color var(--primary-translate);
}

.nav-list-link:focus,
.nav-list-link:hover {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 4px;
    margin-bottom: -1px;
}

.contact-list {
    display: flex;
    margin-left: auto;
    gap: 40px;

}

.contact-item-mail {}

.contact-item-tel {
    align-items: center;
}

.contact {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;

    transition: color var(--primary-translate);
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.contact-icon {
    fill: currentColor;
    align-items: center;
    align-content: center;
    margin-right: 10px;
}


/* =====HEADER END===== */

/* =====HERO WITH BUTTON START===== */
.hero-sectoin {
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/bg-hero.png);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.main-tilte {
    color: var(--primary-white-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn-hero {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 24px;
}

.btn-hero:active {
    background-color: #188CE8;
    padding: 10px 32px;
}

/* =====MODAL WINDOW START===== */
.backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: rgba(0, 0, 0, 0.20);

    transition: opacity var(--primary-translate), visibility var(--primary-translate), transform var(--primary-translate);
}


.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white-color);
    width: 528px;
    border-radius: 4px;

    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

/* початковій стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: transparent;
    width: 30px;
    height: 30px;
transition: fill var(--primary-translate);
} 

.close-btn > svg {
    fill: rgb(0, 0, 0);
    transition: fill var(--primary-translate);
}

.close-btn > svg:hover,
.close-btn > svg :focus,
.close-btn >svg :active {
    fill: var(--accent-color);
    transition: fill var(--primary-translate);
}

.modal-fill {
    padding: 40px;
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin: 0;
}


.modal-fill > p {
    color: var(--main-text-color);
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.modal-label {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 4px
}

.label, .checkbox-label{
    display: block;
    font-size: 12px;
}

.text-comment {
    display: flex;
    flex-direction: column;
}

.input-modal {
    width: 448px;
    height: 40px;     
    padding: 0;    
    padding-left: 42px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    transition: border var(--primary-translate);
    outline: none;
}

.input-modal:hover, 
.input-modal:focus,
.input-modal:active {
    border-color: var(--accent-color);
    cursor: pointer;
}

.modal-img {
    fill: var(--main-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    bottom: 0;
    display: flex;
    transition: fill var(--primary-translate);
}

.input-modal:hover + .modal-img, 
.input-modal:focus + .modal-img,
.input-modal:active + .modal-img {
    fill: var(--accent-color);
}

.modal-comment {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;    
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    color: var(--main-text-color);
    font-size: 14px;
    transition: border-color var(--primary-translate);
    outline: none;
}

.modal-comment:hover,
.modal-comment:focus,
.modal-comment:active {
    border-color: var(--accent-color);
    cursor: pointer;
}

.agree {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.agree > a {
    color: var(--accent-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    transition-property: color var(--primary-translate);

}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0 30px 0;
    padding: 0;
}


/* custom checkbox */
.checkbox-custom {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    transition: border-color var(--primary-translate), background-color var(--primary-translate);
}

.checkbox-custom:hover,
.checkbox-custom:focus,
.checkbox-custom:active {
    border-color: var(--accent-color);
}


.checkbox:checked + .checkbox-custom {
    background-color: var(--accent-color);
    border: var(--accent-color);
}

.custom-check {
    opacity: 0;
    transform: opacity var(--primary-translate);
    fill: var(--primary-white-color);

}

.checkbox:checked + .checkbox-custom .custom-check {
    opacity: 1;
}


.submit-btn {
    color: var(--primary-white-color);
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 52px;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;

    transition: background-color var(--primary-translate);
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
    background-color: #188CE8;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.comment::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-family: var(--main-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

/* =====MODAL WINDOW END===== */

/* =====HERO WITH BUTTON END===== */

/* =====PECULIARITIES START===== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.peculiarities-sectoin {
    padding-top: 94px;
}

.peculiarities-list {
    display: flex;
}

.peculiarities-list-items {
    width: 270px;
}

.peculiarities-list-items:not(:last-child) {
    margin-right: 30px;
}

.peculiarities-list-items div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.peculiarties-icon {
    --color1: #212121;
    --color2: #2196f3;
}

.peculiarities-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-top: 10px;
}

/* =====PECULIARITIES END===== */

/* =====WHAT DO WE DO START===== */
.job-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.jod-img-list {
    display: flex;
    margin-top: 50px;
}

.job-img-items:not(:nth-child(3n)) {
    margin-right: 30px;
}

.job-img-items {
    display: block;
}

.img-thumb {
    position: relative;
    overflow: hidden;
}

.img-description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 27px 0 27px 0;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.80);    
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--primary-white-color);
    font-family: var(--main-font-family);

}

/* =====WHAT DO WE DO END===== */

/* =====OUR TEAM START===== */
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-section .secondary-title {
    margin-bottom: 50px;
}

.team-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: center;
}

.team-list-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    width: 270px;
    box-shadow: var(--team-card-shadow);
    border-radius: 4px;
    overflow: hidden;
}

.partner-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.position-in-team {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.team-section {
    background-color: #F5F4FA;
}

.card-content {
    background-color: var(--primary-white-color);
    padding-bottom: 30px;
    padding-top: 30px;
}


/* =====SOCIALS ICON START===== */

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;

    transition: background-color var(--primary-translate);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);
}

.socials-icon {
    fill: #AFB1B8;

    transition: fill var(--primary-translate);
}

.socials-link:focus .socials-icon,
.socials-link:hover .socials-icon {
    fill: var(--primary-white-color);
}

/* =====SOCIALS ICON END===== */

/* =====OUR TEAM END===== */


/* =====REGULAR CLIENTS START===== */
.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;    
    fill: #AFB1B8;

    transition: fill var(--primary-translate),
    border var(--primary-translate);
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-color);   
    border: 1px solid var(--accent-color);
}


/* =====REGULAR CLIENTS END===== */

/* =====SOCIALS ICON DARK START===== */
.socials-box {
    margin-left: 94px;
}

.socials-box .third-title {
    color: var(--primary-white-color);
    margin-top: 0px;
}

.socials-dark {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.socials-dark .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;

    transition: background-color var(--primary-translate);
}

.socials-dark .socials-icon {
    fill: var(--primary-white-color);
}

.socials-dark .socials-link:hover,
.socials-dark .socials-link:focus {
    background-color: var(--accent-color);
}

/* =====SOCIALS ICON DARK END===== */

/* =====PORTFOLOI STSRT===== */
.main-tilte-portfolio {
    display: none
}

/* =====FILTER STSRT===== */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filter-list-item {
    display: inline;
    align-items: center;
}

.filter-button {
    color: var(--main-text-color);
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    background: #F5F4FA;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;

    transition: color var(--primary-translate),
    background-color var(--primary-translate),
    box-shadow var(--primary-translate);
}

.filter-button:active,
.filter-button:focus,
.filter-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: var(--filter-buttom-shadow)
}

/* =====FILTER END===== */

/* =====OUR WORK START===== */
.work-name {
    border-left: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    background: var(--primary-white-color);
    padding: 20px 24px;
}

.work-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.type-work {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.work-list {
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.work-list-item {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.work-link {
    color: var(--main-text-color);
    display: block;
    transition: box-shadow var(--primary-translate);
    transform: translatey(0);
}

.work-link:hover,
.work-link:focus { 
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-thumb {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.90);
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translatey(100%);
    transition: transform  var(--primary-translate);
    transition-duration: 250ms;
}

.work-link:hover .product-overlay {
    transform: translatey(0);
}

.overlay-text {
    color: var(--primary-white-color);
    font-family: var(--main-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
}

/* =====OUR WORK END===== */
/* =====PORTFOLOI END===== */

/* =====FOOTER START===== */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.address {
    margin-top: 28px;
}

.address-link {
    color: var(--primary-white-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    
}

.address-contact-link {
    color: rgba(255, 255, 255, 0.60);
    font-family: var(--main-font-family);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-list-item{
    width: 100%;
}

.address-list-item:not(:last-child) {
    margin-bottom: 12px;
}

/* =====FOOTER FORM START===== */

.footer-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.subscribe {
    margin-left: 94px;
}

.subscribe > .third-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

.subscribe-email {
    width: 358px;
    height: 50px;
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 15px 16px;
    color: var(--primary-white-color);
    transition: border var(--primary-translate);
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.subscribe-email::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.48px;}

.subscribe-btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 28px;  
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    fill: var(--primary-white-color);
    transition: background-color var(--primary-translate);
}

.subscribe-btn:hover,
.subscribe-btn:focus,
.subscribe-btn:active {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* =====FOOTER FORM END===== */

/* =====FOOTER END===== */
